
body {
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: sans-serif;
  text-decoration: none;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.fixed-header, .fixed-footer{
    width: 100%;
    height: 50px;
    position: fixed;        
    background: rgb(32, 86, 202);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.fixed-header{
    top: 0;
}
  
nav a{
  color: #fff;
  text-decoration: none;
  padding: 25px 12px;
  min-height: 30px;
  text-transform: uppercase;
  width: 100%
  justify-content: space-around;
}

.fixed-footer{
    bottom: 0;
}

.linkbar{
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

h1{
  text-align: center;
}

.link {
  color:white;
  padding-left: 25px;
}

a:hover, a:active {
  color: black;
}

.slider {
  width: 500px;
  height: 300px;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow: hidden;
}
.image-container {
  width: 1500px;
  background-color: pink;
  height: 300px;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}
.slide {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#slide-1:target ~ .image-container {
  left: 0px;
}
#slide-2:target ~ .image-container {
  left: -500px;
}
#slide-3:target ~ .image-container {
  left: -1000px;
}
.bottom-buttons {
  position: relative;
  top: -20px;
}
.bottom-buttons a {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: lightgray;
}

.side-buttons a {
  display: inline-block;
  height: 30px;
  width :15px;
  border-radius: 30px;
  background-color: lightgray;
  position: relative;
  top: -175px;
}

.left{
  left: 200px;
}

.right{

}
